### Maven ###
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
out/

### Secrets (Критически важно!) ###
.env
*.key
*.pem

### Java & Logs ###
*.class
*.log
*.jar
*.war
hs_err_pid*

### OS Files ###
.DS_Store
Thumbs.db